body{
    background-color: black;
    text-align: center;
}
#title{
    color: aqua;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    margin: auto;
}
#board{
    border: 1px solid black;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.150);
}